<h1>Управление данными</h1>

<div>
    <a class="btn btn-info" asp-controller="Publisher" asp-action="Index">Управление издательствами</a>
</div>
<div>
    <a class="btn btn-info" asp-controller="Genre" asp-action="Index">Управление жанрами</a>
</div>
<div>
    <a class="btn btn-info" asp-controller="Condition" asp-action="Index">Управление состояниями</a>
</div>
